.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(185deg, #D6B2FFFF 0%, #73A8EC 84%, #28ADCA 100%);
  min-height: 100vh;
}

.metrics {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.activity-feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
